   <div class="l-center">
          <div class="l-sort clearfix noselect">
            <ul class="context-menu sort-order" style="display:none;">
              <li entity="sort-date" sort_as_int="1"><span class="name active"><?=__('Date')?></span><span class="up">&nbsp;</span></li>
              <li entity="sort-name"><span class="name"><?=__('Domain')?></span><span class="up">&nbsp;</span></li>
              <li entity="sort-ip" sort_as_int="1"><span class="name"><?=__('IP address')?></span><span class="up">&nbsp;</span></li>
              <li entity="sort-disk" sort_as_int="1"><span class="name"><?=__('Disk')?></span><span class="up">&nbsp;</span></li>
              <li entity="sort-bandwidth" sort_as_int="1"><span class="name"><?=__('Bandwidth')?></span><span class="up">&nbsp;</span></li>
              <li entity="sort-star" sort_as_int="1"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
            </ul>
            <div class="l-sort-toolbar clearfix page-toolbar">
    
            <div class="l-center">
                <?php
                  if ($user == 'admin') {
                    echo '<a href="/add/user/" class="toolbar-button" title="'.__('Add User').'"><i class="fas fa-plus-circle status-icon-green"></i>&nbsp;&nbsp;&nbsp;&nbsp;'.__('Add User').'</a>&nbsp;&nbsp;&nbsp;';
                    echo '<a href="/list/package/" class="toolbar-button" title="'.__('Packages').'"><i class="fas fa-cube status-icon-orange"></i>&nbsp;&nbsp;&nbsp;&nbsp;'.__('Packages').'</a>&nbsp;&nbsp;&nbsp;';
                  } else {
                    echo '<a href="/add/web/" class="toolbar-button" title="'.__('Add Web Domain').'"><i class="fas fa-plus-circle status-icon-green"></i>&nbsp;&nbsp;&nbsp;&nbsp;'.__('Add Web Domain').'</a>&nbsp;&nbsp;&nbsp;';
                  }
                ?>
                <a href="/list/cron/" class="toolbar-button" title="<?=__('Cron')?>"><i class="fas fa-clock status-icon-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Cron Jobs')?></a>&nbsp;&nbsp;
                <a href="/list/backup/" class="toolbar-button" title="<?=__(Backups)?>"><i class="fas fa-cloud-download-alt status-icon-lightblue"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Backups')?></a>&nbsp;&nbsp;
                <a href="/list/stats/" class="toolbar-button" title="<?=__('Statistics')?>"><i class="fas fa-chart-pie status-icon-green"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Statistics')?></a>&nbsp;&nbsp;
                <a href="/list/log/" class="toolbar-button" title="<?=__('Logs')?>"><i class="fas fa-list-alt status-icon-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('View Logs')?></a>
                
              <div class="clearfix" style="float: right;">
                <form action="/bulk/user/" method="post" id="objects">
                <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                <div class="l-select">
                  <select name="action">
                    <option value=""><?=__('apply to selected')?></option>
                    <option value="suspend"><?=__('suspend')?></option>
                    <option value="unsuspend"><?=__('unsuspend')?></option>
                    <option value="delete"><?=__('delete')?></option>
                  </select>
                </div>
                <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
               </div>
             </div>
            </div>
         </div>
        </div>

        
    <div class="l-separator"></div>
    <!-- /.l-separator --> 
    <div class="l-center units animated fadeIn">
      <div class="page-title">Total Usage Overview:</div>
      <div class="overview-circles">
        <ul>
          <div>Web Domains</div>
          <li><?=$panel[$user]['U_WEB_DOMAINS']?> / <?=$panel[$user]['SUSPENDED_WEB']?></li>

          <div>Web Domain Aliases</div>
          <li><?=$panel[$user]['U_WEB_ALIASES']?></li>

          <div>DNS Zones</div>
          <li><?=$panel[$user]['U_DNS_DOMAINS']?> / <?=$panel[$user]['SUSPENDED_DNS']?></li>

          <div>DNS Records</div>
          <li><?=$panel[$user]['U_DNS_RECORDS']?></li>

          <div>Mail Domains</div>
          <li><?=$panel[$user]['U_MAIL_DOMAINS']?> / <?=$panel[$user]['SUSPENDED_MAIL']?></li>

          <div>Mail Accounts</div>
          <li><?=$panel[$user]['U_MAIL_ACCOUNTS']?>></li>
          
          <div>Databases</div>
          <li><?=$panel[$user]['U_DATABASES']?> / <?=$panel[$user]['SUSPENDED_DB']?></li>

          <div>Cron Jobs</div>
          <li><?=$panel[$user]['U_CRON_JOBS']?> / <?=$panel[$user]['SUSPENDED_CRON']?></li>

          <div>Backups</div>
          <li><?=$panel[$user]['U_BACKUPS']?></li>
      </ul>
      </div>
      <div class="page-title">Users</div>
        <div class="l-unit table-header">
      
            <div class="l-unit__col l-unit__col--right">
                  <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                      <label for="toggle-all" class="check-label toggle-all"></label>
                    </div>
                  
                  <div class="clearfix l-unit__stat-col--left compact-5"><b><?php print __('Name');?></b></div>
                  <div class="clearfix l-unit__stat-col--left"><b>&nbsp;</b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center"><b><?php print __('Username');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('Package');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('Disk');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('Bandwidth');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('Web');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('Mail');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('DNS');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('DB');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('Jobs');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border-clear text-center compact"><b><?php print __('Backups');?></b></div>
             </div>
          </div>

      <?php
        foreach ($data as $key => $value) {
          ++$i;
          if ($data[$key]['SUSPENDED'] == 'yes') {
            $status = 'suspended';
            $spnd_action = 'unsuspend' ;
            $spnd_confirmation = 'UNSUSPEND_USER_CONFIRMATION' ;
          } else {
            $status = 'active';
            $spnd_action = 'suspend' ;
            $spnd_confirmation = 'SUSPEND_USER_CONFIRMATION' ;
          }
      ?>

      <div class="l-unit  <? if($status == 'suspended') echo 'l-unit--suspended'; if($_SESSION['favourites']['USER'][$key] == 1) echo ' l-unit--starred';?>" v_section="user"
v_unit_id="<?=$key?>" sort-date="<?=strtotime($data[$key]['DATE'].' '.$data[$key]['TIME'])?>" sort-name="<?=$key?>"
sort-bandwidth="<?=$data[$key]['U_BANDWIDTH']?>" sort-disk="<?=$data[$key]['U_DISK']?>" sort-star="<? if($_SESSION['favourites']['USER'][$key] == 1) echo '1'; else echo '0'; ?>">
      
<!-- /.l-unit-toolbar -->
        <div class="l-unit__col l-unit__col--right">
            <div style="">
          <div class="clearfix l-unit__stat-col--left super-compact">
            <input id="check<?=$i?>" class="ch-toggle" type="checkbox" name="domain[]" value="<?=$key?>">
            <label for="check<?=$i?>" class="check-label"></label>
          </div>
              <div class="clearfix l-unit__stat-col--left compact-5"><b><a href="/edit/user/?user=<?=$key?>"><?=$data[$key]['FNAME']?> <?=$data[$key]['LNAME']?></a></b></div>
              <div class="clearfix l-unit__stat-col--left text-right">
                <b>
                    <?
                    if ($key == $user) {
                    ?>
                      <a href="/logout"><i class="fas fa-sign-out-alt status-icon-green status-icon-dim icon-large"></i></a>
                    <?php
                      } else {
                      ?>
                      <a href="/login/?loginas=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-sign-in-alt status-icon-green status-icon-dim icon-large"></i></a>
                    <?}?>
                    <a href="/edit/user/?user=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-pencil-alt status-icon-orange status-icon-dim icon-large"></i></a>
                    <a href="/<?=$spnd_action?>/user/?user=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="data-controls far fa-pause-circle status-icon-highlight status-icon-dim icon-large"></i></a>
                    <a href="/delete/user/?user=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-trash status-icon-red status-icon-dim icon-large"></i></a>
                </b>
              </div>
              <div class="clearfix l-unit__stat-col--left border text-center"><b><?=$key?></b></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><b><?=$data[$key]['PACKAGE']?></b></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><b><?=humanize_usage_size($data[$key]['U_DISK'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_DISK'])?></span></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><b><?=humanize_usage_size($data[$key]['U_BANDWIDTH'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_BANDWIDTH'])?></span></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><?=$data[$key]['U_WEB_DOMAINS']?></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><?=$data[$key]['U_MAIL_DOMAINS']?></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><?=$data[$key]['U_DNS_DOMAINS']?></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><?=$data[$key]['U_DATABASES']?></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><?=$data[$key]['U_CRON_JOBS']?></div>
              <div class="clearfix l-unit__stat-col--left border text-center compact"><?=$data[$key]['U_BACKUPS']?></div>
             
              </div>
            </div>
         </div>
       <!-- /.l-unit__col -->
     <!-- /.l-unit -->
     <!--div class="l-separator"></div-->
     <!-- /.l-separator -->
      <?}?>

    </div>

    <div id="vstobjects">
        <div class="l-separator visible"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <!-- /form -->
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 user account');
              } else {
                echo __('%s user accounts',$i);
              }
            ?>
          </div>
      </div>
    </div>
  </div>
