<div class="l-center">
    <div class="l-sort clearfix noselect">
      <ul class="context-menu sort-order" style="display:none;">
        <li entity="sort-date" sort_as_int="1"><span class="name active"><?=__('Date')?></span><span class="up">&nbsp;</span></li>
        <li entity="sort-name"><span class="name"><?=__('Domain')?></span><span class="up">&nbsp;</span></li>
        <li entity="sort-ip" sort_as_int="1"><span class="name"><?=__('IP address')?></span><span class="up">&nbsp;</span></li>
        <li entity="sort-disk" sort_as_int="1"><span class="name"><?=__('Disk')?></span><span class="up">&nbsp;</span></li>
        <li entity="sort-bandwidth" sort_as_int="1"><span class="name"><?=__('Bandwidth')?></span><span class="up">&nbsp;</span></li>
        <li entity="sort-star" sort_as_int="1"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
      </ul>
      <div class="l-sort-toolbar clearfix page-toolbar">

      <div class="l-center">
        <a href="/schedule/backup/" title="<?=__('Create Backup')?>"><i class="fas fa-plus-circle status-icon-green"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Create Backup')?></a>&nbsp;&nbsp;
        <a href="/edit/backup/exclusions/" title="<?=__('Edit Backup Exclusions')?>"><i class="fas fa-pencil-alt status-icon-orange"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Edit Backup Exclusions')?></a>&nbsp;&nbsp;
        <a href="/list/backup/exclusions/" class="" title="<?=__('View Backup Exclusions')?>"><i class="fas fa-list status-icon-blue"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('View Backup Exclusions')?></a>

        <div class="clearfix" style="float: right;">
          <form action="/bulk/web/" method="post" id="objects">
          <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
          <div class="l-select">
            <select name="action">
              <option value=""><?=__('apply to selected')?></option>
              <option value="suspend"><?=__('suspend')?></option>
              <option value="unsuspend"><?=__('unsuspend')?></option>
              <option value="delete"><?=__('delete')?></option>
            </select>
          </div>
          <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
         </div>
       </div>
      </div>
   </div>
  </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->

    <div class="l-center units animated fadeIn">
        <div class="l-unit table-header">
            <div class="l-unit__col l-unit__col--right">
                  <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                      <label for="toggle-all" class="check-label toggle-all"></label>
                    </div>
                  
                    <div class="clearfix l-unit__stat-col--left wide-5"><b><?php print __('File Name');?></b></div>
                    <div class="clearfix l-unit__stat-col--left text-right compact"><b>&nbsp;</b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Date');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Size');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Type');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Runtime');?></b></div>
             </div>
          </div>

      <?
        foreach ($data as $key => $value) {
          ++$i;
          $web = __('no');
          $dns = __('no');
          $mail = __('no');
          $db = __('no');
          $cron = __('no');
          $udir = __('no');

          if (!empty($data[$key]['WEB'])) $web = __('yes');
          if (!empty($data[$key]['DNS'])) $dns = __('yes');
          if (!empty($data[$key]['MAIL'])) $mail = __('yes');
          if (!empty($data[$key]['DB'])) $db = __('yes');
          if (!empty($data[$key]['CRON'])) $cron = __('yes');
          if (!empty($data[$key]['UDIR'])) $udir = __('yes');

      ?>

      <div class="l-unit<? if($status == 'suspended') echo ' l-unit--outdated';?>">
            <div class="l-unit__col l-unit__col--right">
              <div style="">
                  <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="backup[]" value="<?php echo $key ?>">
                      <label for="check<?php echo $i ?>" class="check-label"></label>
                    </div>
                  <div class="clearfix l-unit__stat-col--left wide-5"><b><a href="/download/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>"><?=$key?></a></b></div>
                  <div class="clearfix l-unit__stat-col--left text-right compact"><b>
                      <a href="/download/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-download status-icon-green status-icon-dim icon-large"></i></a>
                      <a href="/list/backup/?backup=<?=$key?>"><i class="fas fa-pencil-alt status-icon-orange status-icon-dim icon-large"></i></a>
                      <a href="/delete/backup/?backup=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-trash status-icon-red status-icon-dim icon-large"></i></a>
                  </b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><b><?=translate_date($data[$key]['DATE'])?></b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><b><?=humanize_usage_size($data[$key]['SIZE'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['SIZE'])?></span></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><?=$data[$key]['TYPE']?></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><?=humanize_time($data[$key]['RUNTIME'])?></div>
               </div>
             </div>
           <!-- /.l-unit__col -->
         </div>
         <!-- /.l-unit -->
         <!--div class="l-separator"></div-->
         <!-- /.l-separator -->
         <?}?>
       </div>

    <div id="vstobjects">
      <div class="l-separator visible"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 backup');
              } else {
                echo __('%s backups',$i);
              }
            ?>
          </div>
        </div>
      </div>
    </div>
