    <div class="l-center">
      <div class="l-sort clearfix noselect">
            <div class="l-sort-toolbar clearfix page-toolbar">
                <div class="l-center">
                    <a href="/list/firewall/" title="<?=__('Back')?>"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Back')?></a>&nbsp;&nbsp;
                    <a href="/add/firewall/banlist/" class="" title="<?=__('Ban IP Address')?>"><i class="fas fa-ban status-icon-red"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Ban IP Address')?></a>
          
                    <div class="clearfix" style="float: right;">
                      <form action="/bulk/firewall/banlist/" method="post" id="objects">
                      <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                      <div class="l-select">
                        <select name="action">
                          <option value=""><?=__('apply to selected')?></option>
                          <option value="delete"><?=__('delete')?></option>
                        </select>
                      </div>
                      <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
                     </div>
                   </div>
               </div>
            </div>
        </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->


    <div class="l-center units compact animated fadeIn">         
        <div class="l-unit table-header">
            <div class="l-unit__col l-unit__col--right">
                  <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                      <label for="toggle-all" class="check-label toggle-all"></label>
                    </div>
                    <div class="clearfix l-unit__stat-col--left wide-5"><b><?php print __('IP address');?></b></div>
                    <div class="clearfix l-unit__stat-col--left compact"><b>&nbsp;</b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Comment');?></b></div>   
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Date');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Time');?></b></div>
             </div>
          </div>

      <?php
        foreach ($data as $key => $value) {
          ++$i;
          list($ip,$chain) = explode(":",$key);

      ?>

      <div class="l-unit<? if($status == 'suspended') echo ' l-unit--suspended';?>">
        <div class="l-unit__col l-unit__col--right">
            <div style="">
                <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="rule[]" value="<?php echo $key ?>">
                      <label for="check<?php echo $i ?>" class="check-label"></label>
                    </div>
                    <div class="clearfix l-unit__stat-col--left wide-5"><b><?=$ip?></b></div>
                    <div class="clearfix l-unit__stat-col--left compact text-right"><b><a href="/delete/firewall/banlist/?ip=<?=$ip?>&chain=<?=$value['CHAIN']?>&token=<?=$_SESSION['token']?>"><i class="fas fa-trash status-icon-red status-icon-dim icon-large"></i></a></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?=__($value['CHAIN'])?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><?=__($data[$key]['DATE'])?></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><?=$data[$key]['TIME']?></div>
                    
                    
                    
              </div>
            </div>
          </div>
  
      <!-- /.l-unit -->
      <!-- div class="l-separator"></div-->
      <!-- /.l-separator -->
      <?}?>

    </div>

    <div id="vstobjects">
        <div class="l-separator visible"></div>
    <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <!-- /form -->
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 0) {
                echo __('There are currently no banned IP addresses.');
              }
              if ( $i == 1) {
                echo __('1 banned IP address');
              }
              if ( $i > 1) {
                echo __('%s banned IP addresses',$i);
              }
            ?>
          </div>
      </div>
    </div>
  </div>
