    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <ul class="context-menu sort-order" style="display:none;float:left;">
          <li entity="sort-date" sort_as_int="1"><span class="name active"><?=__('Date')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-expire" sort_as_int="1"><span class="name"><?=__('Expire')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-name"><span class="name"><?=__('Domain')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-ip"><span class="name"><?=__('IP address')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-records"><span class="name"><?=__('Records')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-star" sort_as_int="1"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
        </ul>


        <div class="l-sort-toolbar clearfix page-toolbar">

        <div class="l-center">
            <a href="/add/dns" class="" title="<?=__('Add DNS Domain')?>"><i class="fas fa-plus-circle status-icon-green"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Add DNS Domain')?></a>&nbsp;&nbsp;
  
            <div class="clearfix" style="float: right;">
              <form action="/bulk/dns/" method="post" id="objects">
              <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
              <div class="l-select">
                <select name="action">
                  <option value=""><?=__('apply to selected')?></option>
                  <option value="suspend"><?=__('suspend')?></option>
                  <option value="unsuspend"><?=__('unsuspend')?></option>
                  <option value="delete"><?=__('delete')?></option>
                </select>
              </div>
              <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
        </div>
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->


    <div class="l-center units animated fadeIn">
        <div class="l-unit table-header">
            <div class="l-unit__col l-unit__col--right">
                <div class="clearfix l-unit__stat-col--left super-compact">
                  <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                  <label for="toggle-all" class="check-label toggle-all"></label>
                </div>

                  <div class="clearfix l-unit__stat-col--left wide-2"><b><?php print __('Domain');?></b></div>
                  <div class="clearfix l-unit__stat-col--left"><b>&nbsp;</b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center compact"><b><?php print __('Records');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Template');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center compact"><b><?php print __('TTL');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center wide"><b><?php print __('SOA');?></b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Expiration Date');?></b></div>
             </div>
          </div>

      <?
        foreach ($data as $key => $value) {
          ++$i;
          if ($data[$key]['SUSPENDED'] == 'yes') {
            $status = 'suspended';
            $spnd_action = 'unsuspend' ;
            $spnd_confirmation = 'UNSUSPEND_DOMAIN_CONFIRMATION' ;
          } else {
            $status = 'active';
            $spnd_action = 'suspend' ;
            $spnd_confirmation = 'SUSPEND_DOMAIN_CONFIRMATION' ;
          }
      ?>

      <div class="l-unit <? if($status == 'suspended') echo ' l-unit--suspended'; if($_SESSION['favourites']['DNS'][$key] == 1) echo ' l-unit--starred'; ?>" v_unit_id="<?=$key?>"
v_section="dns" sort-ip="<?=str_replace('.', '', $data[$key]['IP'])?>" sort-date="<?=strtotime($data[$key]['DATE'].' '.$data[$key]['TIME'])?>" sort-name="<?=$key?>"
sort-expire="<?=strtotime($data[$key]['EXP'])?>" sort-records="<?=(int)$data[$key]['RECORDS']?>" sort-star="<?if($_SESSION['favourites']['DNS'][$key] == 1) echo '1'; else echo '0';?>">

        <!-- /.l-unit-toolbar -->
            <div class="l-unit__col l-unit__col--right">
              <div>
                  <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="check<?=$i?>" class="ch-toggle" type="checkbox" name="domain[]" value="<?=$key?>">
                      <label for="check<?=$i?>" class="check-label"></label>
                    </div>
                  <div class="clearfix l-unit__stat-col--left wide-2"><b><a href="/list/dns/?domain=<?=$key?>"><?=$key?></a></b></div>
                  <div class="clearfix l-unit__stat-col--left text-right">
                      <b>
                          <a href="/add/dns/?domain=<?=$key?>"><i class="fas fa-plus-circle status-icon-green status-icon-dim icon-large"></i></a>
                          <a href="/list/dns/?domain=<?=$key?>"><i class="fas fa-pencil-alt status-icon-orange status-icon-dim icon-large"></i></a>
                          <a href="/edit/dns/?domain=<?=$key?>"><i class="fas fa-cog status-icon-blue status-icon-dim icon-large"></i></a>
                          <a href="/<?=$spnd_action?>/dns/?domain=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="data-controls fas fa-pause-circle status-icon-highlight status-icon-dim icon-large"></i></a>
                          <a href="/delete/dns/?domain=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-trash status-icon-red status-icon-dim icon-large"></i></a>
                      </b>
                  </div>
                  <div class="clearfix l-unit__stat-col--left border text-center compact"><b><? if(!empty($data[$key]['SRC'])) echo "<span>⇢ ".$data[$key]['SRC']."</span>&nbsp; &nbsp; ";  if($data[$key]['RECORDS']) echo '<span>'.$data[$key]['RECORDS'].'</span>';?></b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><b><?=$data[$key]['TPL']?></b></div>
                  <div class="clearfix l-unit__stat-col--left border text-center compact"><?=$data[$key]['TTL']?></div>
                  <div class="clearfix l-unit__stat-col--left border text-center wide"><?=$data[$key]['SOA']?></div>
                  <div class="clearfix l-unit__stat-col--left border text-center"><b><?=$data[$key]['EXP']?></b></div>
               </div>
             </div>
          </div>
        <!-- /.l-unit__col -->
      <!-- /.l-unit -->
      <!--div class="l-separator"></div-->
      <!-- /.l-separator -->
      <?}?>
    </div>

    <div id="vstobjects">
      <div class="l-separator visible"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 DNS zone');
              } else {
                echo __('%s DNS zones',$i);
              }
            ?>
          </div>
        </div>
      </div>
    </div>
