    <div class="l-center">
      <div class="l-sort clearfix noselect">
        <ul class="context-menu sort-order" style="display:none;">
          <li entity="sort-date" sort_as_int="1"><span class="name active"><?=__('Date')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-name"><span class="name"><?=__('Account')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-disk" sort_as_int="1"><span class="name"><?=__('Disk')?></span><span class="up">&nbsp;</span></li>
          <li entity="sort-star" sort_as_int="1"><span class="name"><?=__('Starred')?></span><span class="up">&nbsp;</span></li>
        </ul>
        <div class="l-sort-toolbar clearfix page-toolbar">
            <div class="l-center">
                <a href="/list/mail/" title="<?=__('Back')?>"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Back')?></a>&nbsp;&nbsp;
                <a href="/add/mail/?domain=<?=htmlentities($_GET['domain'])?>" class="" title="<?=__('Add Mail Account')?>"><i class="fas fa-plus-circle status-icon-green"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?=__('Add Mail Account')?></a>
                  <div class="clearfix" style="float: right;">
                    <form action="/bulk/web/" method="post" id="objects">
                    <input type="hidden" name="token" value="<?=$_SESSION['token']?>" />
                    <div class="l-select">
                      <select name="action">
                        <option value=""><?=__('apply to selected')?></option>
                        <option value="suspend"><?=__('suspend')?></option>
                        <option value="unsuspend"><?=__('unsuspend')?></option>
                        <option value="delete"><?=__('delete')?></option>
                      </select>
                  </div>
                  <button type="submit" class="l-sort-toolbar__filter-apply" value=""><i class="fas fa-arrow-right"></i></button>
                </div>
              </div>
          <!--  -->
        </div>
      </div>
      <!-- /.l-sort -->
    </div>

    <div class="l-separator"></div>
    <!-- /.l-separator -->
    <div class="l-center units animated fadeIn">
        <div class="l-unit table-header">
            <div class="l-unit__col l-unit__col--right">
                  <div class="clearfix l-unit__stat-col--left super-compact">
                      <input id="toggle-all" type="checkbox" name="toggle-all" value="toggle-all" onChange="checkedAll('objects');">
                      <label for="toggle-all" class="check-label toggle-all"></label>
                    </div>
                  
                    <div class="clearfix l-unit__stat-col--left wide-5"><b><?php print __('Username');?></b></div>
                    <div class="clearfix l-unit__stat-col--left compact">&nbsp;</div>
                    <div class="clearfix l-unit__stat-col--left border text-center compact"><b><?php print __('Disk');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Quota');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Aliases');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Forwarding');?></b></div>
                    <div class="clearfix l-unit__stat-col--left border text-center"><b><?php print __('Autoreply');?></b></div>
            </div>
        </div>

      <?
        foreach ($data as $key => $value) {
          ++$i;
          if ($data[$key]['SUSPENDED'] == 'yes') {
            $status = 'suspended';
            $spnd_action = 'unsuspend' ;
            $spnd_confirmation = 'UNSUSPEND_MAIL_ACCOUNT_CONFIRMATION' ;
          } else {
            $status = 'active';
            $spnd_action = 'suspend';
            $spnd_confirmation = 'SUSPEND_MAIL_ACCOUNT_CONFIRMATION' ;
          }
      ?>

      <div class="l-unit <? if($status == 'suspended') echo 'l-unit--suspended'; if($_SESSION['favourites']['MAIL_ACC'][$key."@".$_GET['domain']] == 1) echo ' l-unit--starred'; ?>"
 v_unit_id="<?=$key."@".$_GET['domain']?>" v_section="mail_acc" sort-date="<?=strtotime($data[$key]['DATE'].' '.$data[$key]['TIME'])?>" sort-name="<?=$key?>" sort-disk="<?$data[$key]['U_DISK']?>"
sort-star="<? if($_SESSION['favourites']['MAIL_ACC'][$key."@".$_GET['domain']] == 1) echo '1'; else echo '0'; ?>">

<!-- /.l-unit-toolbar -->
        <div class="l-unit__col l-unit__col--right">
            <div style="">
                <div class="clearfix l-unit__stat-col--left super-compact">
                    <input id="check<?php echo $i ?>" class="ch-toggle" type="checkbox" name="account[]" value="<?php echo $key ?>">
                    <input type="hidden" value="<?php echo $_GET['domain'] ?>" name="domain" />
                    <label for="check<?php echo $i ?>" class="check-label"></label>
                  </div>
                <div class="clearfix l-unit__stat-col--left wide-5"><b><a href="/edit/mail/?domain=<?=$_GET['domain']?>&account=<?=$key?>"><?=$key."@".$_GET['domain']?></a></b></div>
                <div class="clearfix l-unit__stat-col--left text-right compact"><b>
                    <a href="/edit/mail/?domain=<?=$_GET['domain']?>&account=<?=$key?>"><i class="fas fa-pencil-alt status-icon-orange status-icon-dim icon-large"></i></a>
                    <a href="/<?=$spnd_action?>/mail/?domain=<?=$_GET['domain']?>&account=<?php echo $key ?>&token=<?=$_SESSION['token']?>"><i class="data-controls fas fa-pause-circle status-icon-highlight status-icon-dim icon-large"></i></a>
                    <a href="/delete/mail/?domain=<?=$_GET['domain']?>&account=<?=$key?>&token=<?=$_SESSION['token']?>"><i class="fas fa-trash status-icon-red status-icon-dim icon-large"></i></a>
                </b></div>
                <div class="clearfix l-unit__stat-col--left border text-center compact"><b><?=humanize_usage_size($data[$key]['U_DISK'])?></b> <span class="text-small"><?=humanize_usage_measure($data[$key]['U_DISK'])?></span></div>
                <div class="clearfix l-unit__stat-col--left border text-center"><b><?=__(humanize_usage_size($data[$key]['QUOTA'])) ?></b> <span class="text-small"><?=__(humanize_usage_measure($data[$key]['QUOTA'])) ?></span></div>
                <div class="clearfix l-unit__stat-col--left border text-center"><b>
                    <? if($data[$key]['SUSPENDED'] == 'no'){ ?>
                      <? if($data[$key]['ALIAS'] == ''){ ?>
                        <i class="fas fa-minus-circle"></i>
                      <? } else {?>
                        <i class="fas fa-check-circle status-icon-green"></i>
                      <? } ?>
                    <? } else {?>
                      <? if($data[$key]['ALIAS'] == ''){ ?>
                        <i class="fas fa-minus-circle"></i>
                      <? } else {?>
                        <i class="fas fa-check-circle"></i>
                      <? } ?>
                   <? } ?>
                  </b>
                </div>
                <div class="clearfix l-unit__stat-col--left text-center"><b>
                    <? if($data[$key]['SUSPENDED'] == 'no'){ ?>
                        <? if($data[$key]['FWD'] == ''){ ?>
                          <i class="fas fa-minus-circle"></i>
                        <? } else {?>
                          <i class="fas fa-check-circle status-icon-green"></i>
                        <? } ?>
                    <? } else {?>
                        <? if($data[$key]['FWD'] == ''){ ?>
                          <i class="fas fa-minus-circle"></i>
                        <? } else {?>
                          <i class="fas fa-check-circle"></i>
                        <? } ?>
                     <? } ?>
                  </b>
                </div>
                <div class="clearfix l-unit__stat-col--left text-center"><b>
                    <? if($data[$key]['SUSPENDED'] == 'no'){ ?>
                        <? if($data[$key]['AUTOREPLY'] == 'no'){ ?>
                          <i class="fas fa-minus-circle"></i>
                        <? } else {?>
                          <i class="fas fa-check-circle status-icon-green"></i>
                        <? } ?>
                    <? } else {?>
                        <? if($data[$key]['AUTOREPLY'] == 'no'){ ?>
                          <i class="fas fa-minus-circle"></i>
                        <? } else {?>
                          <i class="fas fa-check-circle"></i>
                        <? } ?>
                        <? } ?>
                  </b>
                </div>
              </div>
            </div>
         </div>
        <!-- /.l-unit__col -->
      <!-- /.l-unit -->
      <!--div class="l-separator"></div-->
      <!-- /.l-separator -->
      <?}?>
    </div>

    <div id="vstobjects">
      <div class="l-separator visible"></div>
      <div class="l-center">
        <div class="l-unit-ft">
          <table class='data'></table>
          <div class="l-unit__col l-unit__col--left clearfix"></div>
          <div class="data-count l-unit__col l-unit__col--right clearfix">
            <?php
              if ( $i == 1) {
                echo __('1 mail account');
              } else {
                echo __('%s mail accounts',$i);
              }
            ?>
          </div>
        </div>
      </div>
    </div>
